<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Test your knowledge!" />
    <meta name="theme-color" content="#381DFC"/>
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
    <link rel="icon" href="./favicon.ico" />
    <link rel="manifest" href="./app.webmanifest">
    <script
      src="https://kit.fontawesome.com/18ba30db93.js"
      crossorigin="anonymous"
      async
    ></script>
    
    <title>Random Quiz App</title>
  </head>
  <body>
    <header>
      <h1>Random Quiz App</h1>
    </header>
    <main id="mainContent"></main>
    <footer>
      <p>
        Quizzes collected from
        <a href="https://opentdb.com" target="_blank" rel="noreferrer"
          >opentdb.com</a
        >
      </p>
    </footer>
  </body>
</html>
